<%- include('partials/dashboardHeader.ejs') -%>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Create Task</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>
<div id="dashboar-vard">
    welcome
</div>
<div id='calendar'></div>
<%- include('partials/dashboardFooter.ejs') -%>