<html lang="en" class="gr__127_0_0_1"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome User!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
  
  .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
    </style>
  </head>
  
  <body class="grey lighten-3" data-gr-c-s-loaded="true">
  
    <header>
  
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">
  
          <a class="navbar-brand waves-effect" href="/login">
            <strong class="blue-text">Autoschedy</strong>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
  
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link waves-effect" href="#">Home
                  <span class="sr-only"></span>
                </a>
              </li>
              
              
              
            </ul>
  
            <ul class="navbar-nav nav-flex-icons">
              
              <li class="nav-item">
                <a href="#" class="nav-link waves-effect">
                    something cool is coming    
                </a>
              </li>
              
            </ul>
  
          </div>
  
        </div>
      </nav>
  
      <div class="sidebar-fixed position-fixed">
  
        <a class="logo-wrapper waves-effect">
          
        </a>
  
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item active waves-effect">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
          </a>
          <a href="#" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user mr-3"></i>Profile</a>
          
          
          
        </div>
  
      </div>
  
    </header>
  
    <main class="pt-5 mx-lg-5">
      <div class="container-fluid mt-5">
  
        <div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  
          <div class="card-body d-sm-flex justify-content-between">
  
            <h4 class="mb-2 mb-sm-0 pt-1">
              <span>Dashboard</span>
            </h4>
  
            <form class="d-flex justify-content-center">
              <input type="search" placeholder="search tesks/project" aria-label="Search" class="form-control">
              <button class="btn btn-primary btn-sm my-0 p waves-effect waves-light" type="submit">
                <i class="fas fa-search"></i>
              </button>
  
            </form>
  
          </div>
  
        </div>
  
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  
          <div class="col-md-9 mb-4">
  
            <div class="card" id="calendar">
                
            </div>
  
          </div>
  
          <div class="col-md-3 mb-4">
  
            <div class="card mb-4">
  
              <div class="card-header text-center"></div>
  
              <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
  
                
  
              </div>
  
            </div>
  
            <div class="card mb-4">
  
              <div class="card-body">
  
                <div class="list-group list-group-flush">
                  
                  
                  
                  
                  <a class="list-group-item list-group-item-action waves-effect">Pending Tasks
                    <span class="badge badge-primary badge-pill pull-right">8</span>
                  </a>
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  
          <div class="col-md-6 mb-4">
  
            <div class="card">
  
              <div class="card-body">
  
                
  
              </div>
  
            </div>
  
          </div>
  
          <div class="col-md-6 mb-4">
  
            <div class="card">
              <div class="card-body">
  
                
  
              </div>
  
            </div> 
          </div>
    </main>
    <footer class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    </footer>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script><div class="hiddendiv common"></div>
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
    <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/resource-common@4.3.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.js"></script>
    <script type="text/javascript" src="./../js/materialize.min.js"></script>
    <script type="text/javascript" src="./../scripts/dashboard.js"></script>
  </body></html>